body {
    font-family: 'Permanent Marker', cursive;
    background-color: #1a1a2e;
    color: white;
    margin: 0;
    padding: 0;
}

.hero {
    background: linear-gradient(to right, #ff0099, #493240);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn 1.5s ease-in-out;
    position: relative;
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    animation: glow 1.5s infinite alternate, bounce 1s infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); }
    to { text-shadow: 0 0 20px rgba(255, 255, 255, 1); }
}

@keyframes bounce {
    from { transform: translate(-50%, 0); }
    to { transform: translate(-50%, 10px); }
}

.galeria-container {
    background: #0f3460;
    padding: 50px 0;
}

.galeria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.galeria img:hover {
    transform: scale(1.1) rotate(5deg);
}

/* nuevo */
.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img { 
    width: 40vw; /*si le saco esto la imagen se ve mejor porque isno se ve toda estirada*/
    max-height: 70vh ;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #e442b6a8;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background: #e442b6a8;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

/* termina nuevo */

.tecnica {
    padding: 50px 20px;
    animation: slideUp 1.5s ease-in-out;
}

.contacto {
    background: linear-gradient(to right, #ff5733, #ffbd69);
    padding: 50px 20px;
    animation: fadeIn 2s ease-in-out;
}

button {
    background-color: #ff0099;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ffbd69;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}


@media screen and (max-width: 750px){
    .light-box img { 
        width: 60vw;
        max-height: 70vh ;
    }
}